<header class="main-header">
    <div class="header-container">
        <div class="logo-dhta" onclick="location.href='/Html/home/index.html'">
            <span style="color: #00d2ff;">DHTA</span><span style="color: #ff00cc;"> ACADEMY</span>
        </div>

        <ul class="nav-links-dhta">
            <li onclick="location.href='/Html/home/index.html'">Trang chủ</li>
            <li onclick="location.href='/Html/home/learning.html'">Học tập</li>
            <li onclick="location.href='/Html/home/training.html'">Luyện tập</li> 
            <li onclick="location.href='/Html/home/order-history.html'">Lịch Sử</li>
            <li onclick="location.href='/Html/home/event.html'">Sự kiện</li>
            <li onclick="location.href='/Html/home/about.html'">Giới thiệu</li>
            <li onclick="location.href='/Html/home/coupon.html'">Mã giảm giá</li>
        </ul>

        <div class="header-right-dhta" id="nav-auth">
            </div>
    </div>
</header>